<ion-content>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-item>
    <ion-select placeholder="Mentalize um animal" [multiple]="true">
      <ion-select-option disabled>Humano</ion-select-option>
      <ion-select-option disabled>Girafa</ion-select-option>
      <ion-select-option disabled>Gato</ion-select-option>
      <ion-select-option disabled>Pato</ion-select-option>
      <ion-select-option disabled>Camelo</ion-select-option>
      <ion-select-option disabled>Sapo</ion-select-option>
      <ion-select-option disabled>Flamingo</ion-select-option>
      <ion-select-option disabled>urubu</ion-select-option>
      <ion-select-option disabled>Peixe</ion-select-option>
      <ion-select-option disabled>Caracol</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

<ion-list>
  <ion-radio-group [(ngModel)]="radioSelecionada">
    <ion-list-header>Ele tem garras?</ion-list-header>
    <ion-item>
      <ion-label>Sim</ion-label>
      <ion-radio value="sim"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Não</ion-label>
      <ion-radio value="nao"></ion-radio>
    </ion-item>

    <ion-radio-group [(ngModel)]="op1">
      <ion-list-header>ele pode ter mais de 1,80m?</ion-list-header>
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-radio-group [(ngModel)]="op2">
      <ion-list-header>ele tem pluma por parte do corpo?</ion-list-header>
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-radio-group [(ngModel)]="op3">
      <ion-list-header>ele tem dentes afiados?</ion-list-header>
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-radio-group [(ngModel)]="op4">
      <ion-list-header>ele é onívoro?</ion-list-header>
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-radio-group [(ngModel)]="op5">
      <ion-list-header>ele resiste ao calor extremo?</ion-list-header>
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-radio-group>

    <ion-radio-group [(ngModel)]="op6">
      <ion-list-header>ele tem cauda?</ion-list-header>
      <ion-item>
        <ion-label>Sim</ion-label>
        <ion-radio value="sim"></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Não</ion-label>
        <ion-radio value="nao"></ion-radio>
      </ion-item>
    </ion-radio-group>

  <ion-radio-group [(ngModel)]="op7">
    <ion-list-header>Ele tem contato com a água por bastante tempo?</ion-list-header>
    <ion-item>
      <ion-label>Sim</ion-label>
      <ion-radio value="sim"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Não</ion-label>
      <ion-radio value="nao"></ion-radio>
    </ion-item>
  </ion-radio-group>

<ion-button expand="full" (click)="verificarRadio()">Verificar seleção</ion-button>
